# 1. تجاهل البيئة الوهمية (ضخمة جداً ولا يجب رفعها)
venv/
env/
.env
.history/
ngrok.exe

# 2. تجاهل ملفات بايثون المؤقتة (ملفات غير ضرورية)
__pycache__/
*.pyc

# 3. تجاهل قواعد البيانات المحلية (لأنها تحتوي على بياناتك الخاصة)
*.db
*.sqlite3
ehjezli_memory.db

# 4. تجاهل ملفات إعدادات VS Code الشخصية
.vscode/

# 5. تجاهل ملفات النظام (Mac/Windows)
.DS_Store
Thumbs.db
